    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Treehouse Lab</h2>
                <p>Treehouse Lab is a small co-working office space located in Sofia downtown.</p>
                <p>The space provides a quiet workplace for freelancers. We have software engineers, graphic designers and architects working on awesome projects in a friendly atmosphere.</p>
                <p>We offer a monthly memberships. First 2 weeks are free, so that you can decide if you like the place. The monthly membership is 100€/month. It includes 24/7 access, security, fast wifi internet access from 2 different providers, free coffee and a mineral water dispencer, a shared fridge.
                <p>If you are looking for a creative space to work, <a class="page-scroll" href="#contact">contact</a> us and ask about availability.</p>
            </div>
        </div>
    </section>
